<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Tasks Organizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <form action="/reload" method="GET">
        <input type="submit" value="Reload Tasks">
    </form>
   
    {% for task in tasks %}
    <form action="/update" method="POST" class="task">
        <input type="hidden" name="task_id" value="{{ task.id }}">
        <div class="form-row">
            <input type="text" name="title" value="{{ task.title }}" placeholder="Task Title">
            <input type="number" name="priority" value="{{ task.priority }}" max="3" min="1" placeholder="Priority">
        </div>
        Start On: <input type="date" name="start_date" value="{{ task.start_date }}">
        Due On: <input type="date" name="due_date" value="{{ task.due_date }}">
        <textarea name="description">{{ task.description }}</textarea>
        <input type="submit" value="Update Task">
        <button type="submit" name="action_tomorrow" value="true">Tomorrow</button>
        <button type="submit" name="action_complete" value="true">Complete</button>
    </form>
    {% endfor %}
</body>
</html>
