<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Tasks Organizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <form action="/reload" method="GET">
        <input type="submit" value="Reload Tasks">
    </form>
    
    {% for task_type in tasks %}
        <details {% if loop.first %}open{% endif %}>
            <summary>{{ task_type.label }}</summary>
            {% for task in task_type.tasks %}
            <form action="/update" method="POST">
                <input type="hidden" name="task_id" value="{{ task.id }}">
                <input type="text" name="title" value="{{ task.title }}"> <br>
                Priority: <input type="number" name="priority" value="{{ task.priority }}" max="3" min="1"> <br>
                Start On: <input type="date" name="start_date" value="{{ task.start_date }}"> <br>
                Due On: <input type="date" name="due_date" value="{{ task.due_date }}"> <br>
                <textarea name="description">{{ task.description }}</textarea> <br>
                <input type="submit" value="Update Task">
            </form>
            {% endfor %}
        </details>
    {% endfor %}</body>
</html>
