<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Tasks Organizer</title>
</head>
<body>
    <h3>Today's Tasks</h3>
    {% for task in tasks %}
        <form action="/update" method="POST">
            <input type="hidden" name="task_id" value="{{ task.id }}">
            <input type="text" name="title" value="{{ task.title }}"> <br>
            Priority: <input type="number" name="priority" value="{{ task.priority }}" max="3" min="1"> <br>
            Start On: <input type="date" name="start_date" value="{{ task.start_date }}"> <br>
            Due On: <input type="date" name="due_date" value="{{ task.due_date }}"> <br>
            <textarea name="description">{{ task.description }}</textarea> <br>
            <input type="submit" value="Update Task">
        </form>
    {% endfor %}
    <h3>Needs Prioritization</h3>
    <p>
        {{ pending_task.title }} <br>
        Priority: {{ pending_task.priority }} <br>
        {{ pending_task.description }}
    </p>
</body>
</html>
