<table class="mt-4">
    <tr class="bg-gray-200">
        <th class="border border-gray-500 p-1">P3</th>
        <th class="border border-gray-500 p-1">P2</th>
        <th class="border border-gray-500 p-1">P1</th>
        <th class="border border-gray-500 p-1">P0</th>
        <th class="border border-gray-500 p-1">Overdue</th>
        <th class="border border-gray-500 p-1">Due Today</th>
        <th class="border border-gray-500 p-1">Due This Week</th>
        <th class="border border-gray-500 p-1">Due This Month</th>
    </tr>
    <tr>
        <td class="border border-gray-500 p-1">{{ stats.p3 }}</td>
        <td class="border border-gray-500 p-1">{{ stats.p2 }}</td>
        <td class="border border-gray-500 p-1">{{ stats.p1 }}</td>
        <td class="border border-gray-500 p-1">{{ stats.p0 }}</td>
        <td class="border border-gray-500 p-1">{{ stats.overdue }}</td>
        <td class="border border-gray-500 p-1">{{ stats.today }}</td>
        <td class="border border-gray-500 p-1">{{ stats.week }}</td>
        <td class="border border-gray-500 p-1">{{ stats.month }}</td>
    </tr>
</table> 